<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header titulo">Feed</div>

                <div class="card-body">
                    
                    <div class="row justify-content-center">
                        <a href="/posts/new" class="btn btn-outline-success">New Post</a>
                    </div>

                    

                </div>
                <br>
                <br>
                <div class="col justify-content-center">
                   <% @posts.each do |post| %>
                     <% if post.media.present? %>

                      <div class='card card-post col'>
                          <div class='card-header row'>
                              <div class="row col">
                                  <a class='row nav-link titulo' href="profile?id=<%= User.where(' id = post.user_id ').id %>" style='border: none; outline-style: none;'>
                                      <img src="<%= User.where(' id = post.user_id ').photo %>">

                                      &nbsp; <%= User.where(' id = post.user_id ').name %>

                                  </a>
                              </div>
                            <% if current_user.id == User.where(' id = post.user_id ').id %>
                            <div class="ml-3">
                                
                                    
                                    <input type="hidden" name='id' value="<%= post.id %>" />
                                    <a  href="<%= posts_path %>" class="close" data-dismiss="modal" aria-label="Fechar" onclick="event.preventDefault();
                                    document.getElementById('delete-post-form').submit();">
                                        <span aria-hidden="true">&times;</span>
                                        
                                    </a>
                                  <%= form_with id: "delete-post-form", url: "/posts/#{post.id}", method: :delete do |form| %>
                                      
                                  <% end %>
                            </div>
                            <% end %>
                        </div>
                        <div class=" card-legend"><%= post.text %></div>
                        <div class='card-content row'>
                            <img src="<%= post.media %>" style='width: 100%;'>
                        </div>
                        <div class='card-footer row justify-content-center'>
                            <% if Comment.where(' post_id = post.id').any? %>
                            <div class="row  justify-content-center">

                                <a class="nav-link titulo" data-toggle="collapse" href="#commentCollapse<%= post.id %>" role="button" aria-expanded="false" aria-controls="commentCollapse">
                                    <span class="badge badge-success badge-pill"><%= Comment.where(' post_id = post.id ').count %></span> Comment(s) ▼
                                </a>

                            </div>
                            <% end %>



                            <div class="collapse row list-group" id="commentCollapse<%= post.id %>" style="width:95%">

                              <% if Comment.where(' post_id = post.id').any? %>
                                <% Comment.where(' post_id = post.id ').each do |comment| %>
                                
                                <div class="list-group-item col">
                                    <div class="row col-12">
                                        <a href="profile?id=<%= User.where(' id = comment.user_id ').id %>" class="nav-link btn-sm">
                                            <img class="comment-img" src="<%= User.where(' id = comment.user_id ').photo %>" />
                                            &nbsp;<%= User.where(' id = comment.user_id ').name %>
                                        </a>
                                        <% if current_user.id == comment.user_id %>

                                        <form method="post" class="col justify-content-end" action="#removeComment">
                                            
                                            <input type="hidden" name='id' value="<%= comment.id %>" />
                                            <button type="submit" class="close" data-dismiss="modal" aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span> </button>
                                        </form>

                                        <% end %>
                                    </div>

                                    <%= comment.text %>
                                </div>
                                <% end %>
                              <% end %>

                            </div>


                            <form method="post" class="row col-12" action="#comment">
                                
                                <input type="hidden" name="id" value="<%= post.id %>" />
                                <input type="text" autocomplete="off" class="form-control" name="comment" placeholder="Type a comment"></input>
                            </form>



                        </div>


                    </div>



                    <br>


                    <% else %>

                    <div class='card col card-post'>
                        <div class='card-header row'>
                            <div class="row col">
                                <a class='row nav-link titulo' href="profile?id=<%= post.user_id %>" style='border: none; outline-style: none;'>
                                    <img src="<%= image_path(post.user.photo) %>">

                                    &nbsp;<%= post.user.name %>

                                </a>
                            </div>
                            <% if current_user.id == post.user_id %>
                            <div class="ml-3">
                                
                                    
                                    <input type="hidden" name='id' value="<%= post.id %>" />
                                    <a  href="<%= posts_path %>" class="close" data-dismiss="modal" aria-label="Fechar" onclick="event.preventDefault();
                                    document.getElementById('delete-post-form').submit();">
                                        <span aria-hidden="true">&times;</span>
                                        
                                    </a>
                                  <%= form_with id: "delete-post-form", url: "/posts/#{post.id}", method: :delete do |form| %>
                                      
                                  <% end %>
                            </div>
                            <% end %>
                        </div>
                        <div class=""><%= post.text %></div>
                        <div class='card-footer row justify-content-center'>
                            <% if Comment.where(post: post.id).any? %>
                            <div class="row  justify-content-center">

                                <a class="nav-link titulo" data-toggle="collapse" href="#commentCollapse<%= post.id %>" role="button" aria-expanded="false" aria-controls="commentCollapse">
                                    <span class="badge badge-success badge-pill"><%= Comment.where(post: post.id ).count %></span> Comment(s) ▼
                                </a>

                            </div>
                            <% end %>




                            <div class="collapse row list-group" id="commentCollapse<%= post.id %>" style="width:95%">
                              <% if Comment.where( post: post.id ).any? %>
                                <% Comment.where( post: post.id ).each do |comment| %>
                                <div class="list-group-item col">
                                    <div class="row col-12">
                                        <a href="profile?id=<%= comment.user_id %>" class="nav-link btn-sm">
                                            <img class="comment-img" src="<%= image_path(comment.user.photo) %>" />
                                            &nbsp;<%= comment.user.name %>
                                        </a>
                                        <% if current_user.id == comment.user_id %>

                                        <form method="post" class="col justify-content-end" action="#removeComment">
                                            
                                            <input type="hidden" name='id' value="<%= comment.id %>" />
                                            <button type="submit" class="close" data-dismiss="modal" aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span> </button>
                                        </form>

                                        <% end %>
                                    </div>

                                    <%= comment.text %>
                                </div>
                                <% end %>
                              <% end %>

                            </div>


                            <form method="post" class="row col-12" action="#comment">
                                
                                <input type="hidden" name="id" value="<%= post.id %>" />
                                <input type="text" autocomplete="off" class="form-control" name="comment" placeholder="Type a comment"></input>
                            </form>



                        </div>


                    </div>



                    <br>
                    <% end %>
                  <% end %>
                    <% if @posts.empty? %>
                    <div class="row col-md-12 justify-content-center">
                        <h3>No posts yet :(</h3>
                    </div>
                    <% end %>
                </div>

            </div>
        </div>
    </div>
</div>
