<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GreenBook" %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>

  <body>

  <nav class="navbar navbar-expand-md navbar-light bg-white">
            <div class="container">
            <a href="/posts"  class="navbar-brand" style="background-color: white; border: none; outline-style: none;">GreenBook</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    <% if user_signed_in? %>

                    
                                
                        
                    <a href="/posts"  class="nav-link" style="background-color: white; border: none; outline-style: none;">Feed</a>
                    
                        <li class="nav-item">
                            <form method='GET' action="#">
                                
                                <input type="hidden" name="id" value="<%= current_user.id %>"/>
                            <button  class="nav-link" style="background-color: white; border: none; outline-style: none;">Profile</button>
                            </form>
                        </li>
                        
                                
                        
                        <a href="/messages"  class="nav-link" style="background-color: white; border: none; outline-style: none;">Messages</a>
                        
                        
                    <% end %>
                        
                    </ul>
                    <% if user_signed_in? %>
                      <ul class="navbar-nav col-auto">
                      <li class="nav-item">
                          <form method="get" action="#">
                          
                          <input type="text" name="name" class="form-control navInput" placeholder="Search user">
                          </form>
                      </li>
                      
                      </ul>
                    <% end %>
                    <!-- Right Side Of Navbar -->
                    
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                        <% if !user_signed_in? %>
                            <li class="nav-item">
                                <a class="nav-link" href="<%= new_user_session_path %>">Login</a>
                            </li>
                           
                                <li class="nav-item">
                                    <a class="nav-link" href="<%= new_user_registration_path %>">Register</a>
                                </li>
                            
                        <% else %>
                        
                            <li class="nav-item">

                                    <li class="nav-item nav-link username">
                                        Olá, <%= current_user.name %>!
                                    </li>
                                
                                
                                    <li class="nav-item">
                                    <a class="nav-link" style="background-color: white; border: none; outline-style: none;" href="<%= registration_path(current_user) %>"
                                       onclick="event.preventDefault();
                                                     document.getElementById('delete-user-form').submit();">
                                        Delete Account
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" style="background-color: white; border: none; outline-style: none;" href="<%= destroy_user_session_path %>"
                                        onclick="event.preventDefault();
                                              document.getElementById('logout-form').submit();">
                                        Logout
                                    </a>
                                    </li>
                    

                                    
                                    <%= form_with id: "logout-form", url: "/users/sign_out", method: :delete do |form| %>
                                      
                                    <% end %>

                                    <%= form_with id: "delete-user-form", url: "/users", method: :delete do |form| %>
                                      
                                        <% end %>

                                    
                                
                    
                                </li>
                         <% end %>
                    </ul>
                </div>
            </div>
        </nav>

<!--   <p class="navbar-text float-right">
   <% if user_signed_in? %>
     Logged in as <strong><%= current_user.email %></strong>.
     <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
     <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
   <% else %>
     <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
     <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
   <% end %>
   </p> -->


      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    
    <%= yield %>
    
  </body>
</html>
